<h1>
    {{title}}
</h1>


<p>Heroes:</p>
<ul class="heroes">
    <li *ngFor="let hero of localHeroes">
        {{ hero.name}}
    </li>
</ul>

<div>
    <p>Local heroes:</p>
    <ul class="heroes">
        <li *ngFor="let hero of localHeroes">
            <span class="badge">{{hero.id}}</span>
            {{hero.name}}
        </li>
    </ul>
    <p>Static heroes:</p>
    <ul class="heroes">
        <li *ngFor="let hero of heroesFromService" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            {{hero.name}}
        </li>
    </ul>
</div>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} details from app component!</h2>
    <div>
        <label>id: </label>
        {{selectedHero.id}}
    </div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </div>
</div>

<my-hero-detail [hero]="selectedHero"></my-hero-detail>


